extends layout

block content
    h1
        |Home
    ul
        li 
            a(href= '#')
                |Student
        li
            a(href="#")
                |Teacher 
        li 
            a(href="#")  
                |Head
    div.col-lg-5 
        block middle 